{{$myName}}
<table>
  <tr>
    <th>My Name</th>
    <th>Index</th>
    <th>Even</th>
    <th>Odd</th>
    <th>First</th>
    <th>Last</th>
    <th>Attendee Name</th>
  </tr>
  <tr ng-repeat="attendee in attendees">
    <td>{{myName}}</td>
    <td>{{$index}}</td>
    <td>{{$even}}</td>
    <td>{{$odd}}</td>
    <td>{{$first}}</td>
    <td>{{$last}}</td>
    <td>
      <a href="#" ng-click="handleAttendeeClick($event, attendee)">{{attendee.name}}</a>
    </td>
  </tr>
</table>

{{myName}}
<input type="" ng-model="myName" />
<button ng-click="changeValue($event)">Click me to change my name!</button>

<div ng-if="hasAValue">
  don't show
</div>

<div ng-class="'on'">
  show this always
</div>

<div ng-class="{ 'off': hasAValue }">
  also show this always
</div>

<input type="checkbox" ng-model="hasAValue"> has a value
<br>
<button ng-click="toggleValue($event)">Click me to toggle the boolean!</button>